@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  color: white;
  font-family: "Ubuntu", sans-serif;
}


.input-wrapper {
	display: flex;
	height: 7vh;
	justify-content: center;
	align-items: center;
	position: relative;
	user-select: none;
	margin-bottom: 5%;
}

.input-wrapper>input {
	font-size: 1em;
	color: white;
	padding: 1rem;
	width: 60%;
	border-radius: 10px;
	border: 1px solid #9E9E9E;
	outline: none; 
	transition : box-shadow 0.2s ease, border 0.2s ease;
	background-color: transparent;
}

.input-wrapper>input:focus {
	border: 1px solid #0aa5ff;
	box-shadow: 0 0 10px #0aa5ff;
}

.input-wrapper>input:is(:focus, :valid) ~ label {
	transform: translateY(-140%) scale(0.8);
	color: #0aa5ff;
}

.input-wrapper>label {
	position: absolute;
	left: 22%;
	color: #8f8f8f;
	pointer-events: none;
	transition: transform 0.2s ease;
	background: #202020;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5vh;
	margin-top: 5%;
}

.button-wrapper > button {
	width: 80%;
	height: 5vh;	
	border: 0;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 22px;
	background-color: transparent;
	color: #999999;
	border-radius: 10px;
	border: 2px solid #0aa5ff;
	transition: background-color 0.3s ease;
}

.button-wrapper > button:hover {
  background-color: #0aa5ff;
  color: white;
}